<div class="container footer bg-transparent py-3 mt-auto">
    <div class="container text-center">
        <span class="text-muted">&copy; The Campbook 2021  </span><br>
        <small class="text-muted">by William Castillo</small>
    </div>
</div>